#faclogo{
  max-height:40px;
  margin-top:-10px;
}

#faclogolabel{
  color:white;
  margin-left:60px;
  margin-top:-27px;
  font-size:25px;
  font-family:sans-serif;
  position:absolute;
}

#navbg{
  background-color:#4acf50;
}

a#navbrandbg.navbar-brand.navbar-link{
  background-color:#4acf50;
}

a#navitemlinkbg{
  background:rgb(74,207,80);
}

div.item.active.slidesize{
  height:700px;
}

img.caroimg{
  height:100%;
}

h1.servheading{
  text-align:center;
  color:rgb(105,168,242);
  font-size:20px;
}

.divtitle{
  text-align:center;
  color:rgb(105,168,242);
  margin-bottom:50px;
}

img.servimg{
  height:100px;
}

h1.abtheading{
  text-align:center;
  color:rgb(105,168,242);
  margin-top:110px;
}

p.abtpara{
  text-align:center;
  margin-bottom:110px;
}

p.servpara{
  text-align:center;
  margin-top:20px;
}

div#conservices.container{
  padding-top:100px;
}

div#conaboutus.container{
  padding-top:100px;
}

img.centerimg.servimg{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:auto;
}

div#concontactus.container{
  padding-top:100px;
}

h1.ctusheading{
  font-size:20px;
  text-align:justify;
  color:rgb(105,168,242);
}

p.ctuspara{
  text-align:justify;
}

.ctusicon{
  margin-right:10px;
}

.ctuspara1{
  margin-top:30px;
}

#map{
  padding:5px 5px 5px 5px;
  border-radius:15px;
  height:200px;
  width:100%;
}

#divmapcon{
  background:rgb(197,200,197);
  border-radius:10px;
  margin-top:30px;
  padding:0;
  width:100%;
}

.carousel-fade .carousel-inner .item{
  -webkit-transition-property:opacity;
  transition-property:opacity;
}

.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right{
  opacity:0;
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right{
  opacity:1;
}

.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right{
  left:0;
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

.carousel-fade .carousel-control{
  z-index:2;
}

html::-webkit-scrollbar{
  display:none;
}

#modallogin{
  margin-top:150px;
}

.inputLogin{
  text-align:center;
}

#btnsignin{
  margin-top:20px;
  border:none;
}

a#linkdropbg.dropdown-toggle{
  background:rgb(74,207,80);
}

.sidenav{
  height:100%;
  width:165px;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background:#ffffff;
  overflow-x:hidden;
  padding-top:80px;
  border-color:black;
  border-right:inset;
}

.sidenav a{
  padding:15px 20px 6px 16px;
  text-decoration:none;
  font-size:16px;
  color:rgb(74,207,80);
  display:block;
}

.sidenav a:hover{
  background:rgb(74,207,80);
  color:white;
}

.input-group-addon{
  padding:6px 12px;
  font-size:14px;
  font-weight:400;
  line-height:1;
  color:#ffffff;
  text-align:center;
  background-color:#4acf50;
  border:1px solid #ccc;
  border-radius:4px;
}

.igmargin{
  margin-top:10px;
}

.bodyspacing{
  margin-top:80px;
  margin-left:165px;
  position:absolute;
}

#txtaddress{
  width:250px;
}

#gendermar{
  margin-top:10px;
}

#btnaddclient{
  margin-left:15px;
  float:right;
  margin-top:20px;
}

.uawidth{
  width:250px;
}

.uautype{
  width:20px;
}

#uabtn{
  margin-top:15px;
}

.cimargin{
  margin-top:15px;
}

#cimodalheading{
  text-align:center;
}

#modalclientname{
  margin-top:130px;
}

.modalheader{
  background-color:rgb(74,207,80);
  color:white;
  border-radius:5px 5px 0px 0px;
}

.apmargin{
  margin-top:15px;
}

#modaladdpet{
  margin-top:90px;
}

.apleftlabel{
  width:110px;
}

.ualeftlabel{
  width:90px;
}

.pcheading{
  text-align:center;
}

#pcheadinglabel{
  font-size:35px;
}

#pcdatemargin{
  margin-top:30px;
}

.pcmargin{
  margin-top:10px;
}

.pclabel{
  width:130px;
}

#pcgender{
  width:195px;
}

#pcbtn{
  margin-bottom:20px;
  margin-left:35%;
}

#logincheck{
  text-align:center;
}

#footerlogin{
  background-color:#4acf50;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:15px 10px;
  margin-top:84px;
  bottom:0;
  color:#ffffff;
}

#footerpara{
  font-size:12px;
  text-align:center;
}

#loginbody{
  background:rgba(11,11,11,0.1);
}

.modaluabg{
  background:rgb(198,53,49);
}

#modaluatitle{
  color:white;
}

#modaldeleterad{
  border-radius:5px 5px 0px 0px;
}

#modaluadelete{
  margin-top:150px;
}

.modaluamargin{
  margin-top:15px;
}

#modaluaview{
  margin-top:100px;
}

.modaluatxtlabel{
  width:90px;
}

.clsubmit{
  margin-top:15px;
  margin-bottom:15px;
  float:right;
  margin-left:5px;
}

.uibtn{
  float:right;
}

#uisavemar{
  margin-left:10px;
}

#cisubmit{
  float:right;
  margin-top:15px;
  margin-bottom:20px;
}

.navheadings{
  font-size:25px;
}

#btnaddpet{
  float:right;
}

#rowservmar{
  margin-top:50px;
}

#welcome1{
  background:rgba(37,35,35,0.62);
  border-radius:10px;
}

#welcome2{
  background:rgba(37,35,35,0.62);
  border-radius:10px;
}

#welcome3{
  background:rgba(37,35,35,0.62);
  border-radius:10px;
}

#abttitle{
  margin-top:40px;
}

.imgabt{
  height:350px;
}

